.filters-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  margin-bottom: 40px;
}
.filters-form-label {
  display: flex;
  position: absolute;
  top: -25px;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0em;
  text-align: left;
  color: var(--p_color-text-alfa30);
}
.filters-form-input {
  box-sizing: border-box;
  height: 48px;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0em;
  text-align: left;
  color: #61677C;
  text-shadow: 1px 1px 0 #FFF;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  background-color: #ebecf0;
  
}
.filters-form-input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }


/* .filters-form-input:focus,
.filters-form-input:hover {
    border-color: var(--p_color);
    outline: 0;
} */
.filters-form-input::placeholder {
  color: inherit;
  opacity: 1; /* Firefox */
}
.filters-form-input::-ms-input-placeholder {
  color: inherit; /* Edge 12 -18 */
}
.filters-form-btn {
  padding: 0;
  border-width: 0;
  position: absolute;
  top: 14px;
  right: 22px;
  visibility: hidden;
}
.filters-form-btn-icon {
  display: block;
  visibility: visible;
}
.filters-form-select-category {
  height: 48px;
  /* padding: 14px 20px; */
  --ss-spacing-s: 14px 19px;
  /* border-radius: 30px; */
  --ss-border-radius: 30px;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  text-shadow: 1px 1px 0 #FFF;
  border: none;
  outline: 0;
  transition: all 0.2s ease-in-out;
  font-family: inherit;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0em;
  text-align: left;
  --ss-font-color: #61677C;
  --ss-bg-color: var(--background);
  --ss-focus-color: rgba(0, 0, 0, 0);
}
.filters-form-select-category:focus,
.filters-form-select-category:hover,
.ss-open-below:focus,
.ss-open-below:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
@media screen and (min-width: 768px) {
  .filters-form {
    flex-direction: row;
    gap: 8px;
    height: 52px;
  }
  .filters-form-input {
    height: 52px;
    width: 269px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
  .filters-form-btn {
    padding: 0;
    border-width: 0;
    position: absolute;
    top: 16px;
    left: 226px;
  }
  .filters-form-select-category {
    height: 52px;
    max-width: 189px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}
